body {
    overflow-x: hidden;
}
#center {
    width: 95%;
    margin: 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: var(--scheme-first);
}
a:hover {
    color: rgba( var(--scheme-first-rgb), .5);
}
label {
    text-decoration: underline;
}