body{
    overflow: hidden;
}
header, .card, footer {
    display: none;
}
/* Carousel */
#carouselContainer {
    width: 100vw;
    height: 100vh;
    margin: 0;
    text-align: center;
}
#homepageCarousel {
    height: 100vh;
    width: 100vw;
}
.carousel img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.carousel-inner {
    height: inherit;
}
.carousel-item {
    height: inherit;
}
.carousel-item .background {
    filter: blur(10px);
    z-index: 1;
}
.carousel-item .foreground {
    z-index: 2;
    padding: 5vh 5vw;
}

/* Title Card with Logo */
.nav-bar {
    position: absolute;
    top:  5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    z-index: 3;
    text-align: center;
}
#homepage-logo {
    display: block;
    margin: 1vh auto;
    width: 45vw;
}
.btn {
    border-radius: 1.75rem !important;
    padding: .75rem 2.5rem !important;
    font-size: 1.25rem !important;
    background-color: rgba( var(--scheme-second-rgb), 60% );
    border: rgb( var(--scheme-second-rgb));
    margin: 0 5vw;
    width: 8em;
    color: var(--scheme-first);
    font-weight: bold;
}
.btn:hover {
    background-color: rgb( var(--scheme-second-rgb));
    border-color: rgb( var(--scheme-second-rgb));
    color: var(--scheme-first);
}
.btn-group {
    margin: 4vh;
}

@media only screen and (max-width: 650px) {
    .btn {
        padding: .75rem 2rem !important;
        font-size: 1rem !important;
    }
    .btn-group {
        margin: 15px !important;
    }
}