body{
    overflow: hidden;
}
header, .card, footer {
    display: none;
}
.carousel {
    height: 100vh;
    width: 100vw;
}
.carousel img{
    margin: 0 auto;
    width: inherit;
/*    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.carousel-inner {
    height: inherit;
}
.carousel-item {
    height: inherit;
    margin-right: 0;
}
.carousel-item .background{
    filter: blur(10px);
    z-index: 1;
}
.carousel-item .foreground{
    position: absolute;
    z-index: 2;
    padding: 5%;
}
.carousel button {
    position: absolute;
    z-index: 2;
}
.card {
    margin: 0 10%;
}
