#homepageCarousel img{
    width: 100vw;
}
.carousel-item {
    position: relative;
    width: 100vw;
    height: auto;
    aspect-ratio: 2306 / 1536;
}
.carousel-item .background{
    position: absolute;
    filter: blur(10px);
    width: 100%;
    z-index: 1;
}
.carousel-item .foreground{
    position: absolute;
    padding: 8%;
    z-index: 2;
}
.carousel button {
    position: absolute;
    z-index: 2;
}
.carousel {
    margin: 0;
}
.card {
    margin: 0 10%;
}