:root {
    /* Olive Drab 7 */
    --scheme-first: #372800;
    --scheme-first-rgb: 55, 40, 0;

    /* Selective Yellow */
    --scheme-second: #f6b60d;
    --scheme-second-rgb: 246, 182, 13;
}
html {
    -ms-overflow-style: none;  /* Hide Scrollbar for IE, and Firefox */
}
/* Hide Scrollbar for Chrome, Edge, Safari, and Opera */
html::-webkit-scrollbar {
    display: none;
}
body {
    overflow-x: hidden;  /* Disable Horizontal Scrolling */
    background-color: rgba( var(--scheme-second-rgb), .75 );
    color: var(--scheme-first);
}
.navbar {
    background-color: var(--scheme-second);
    /*flex-wrap: nowrap;
    justify-content: flex-start;
    max-height: 75px;*/
    font-size: 1.2rem;
    justify-content: flex-start;
    font-weight: bold;
    margin-bottom: 5vh;
}
.nav-item {
    height: inherit;
    margin-right: 0;
    margin-left: 0;
}
.navbar-brand {
    padding: 1% 4%;
    background-color: var(--scheme-second);
    max-height: 125px;
}
#logo {
    width: 150px;
    max-height: 100px;
    max-width: 278px;
}
footer {
    background-color: var(--scheme-second);
}
.margin {
    height: 5vh;
}
.footerNavbar {
    display: table;
    text-align: center;
    height: 6vw;
    width: 100%;
    margin: .75vh;
}
.footerNavbar > li{
    list-style: none;
    display: table-cell;
    vertical-align: middle;
}
.footerNavbar > li > a {
    color: var(--scheme-first);
    font-size: 1.4vw;
    font-weight: bold;
    text-decoration: none;
}
.btn-primary, .btn-primary:disabled, .btn-primary.disabled,
.btn-outline-primary, .btn-outline-primary:hover,
.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active, .btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show{
    background-color: var(--scheme-first);
    border-color: var(--scheme-first);
}
.btn-primary:hover {
    background-color: rgba( var(--scheme-first-rgb), .8);
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled,
.nav-link, .nav-link:hover, .nav-link:focus,
.link-primary {
    color: var(--scheme-first);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: var(--scheme-first);
}
.border-primary {
    border-color: var(--scheme-first) !important;
}
.btn-secondary, .btn-secondary:disabled, .btn-secondary.disabled,
.btn-outline-secondary:hover,.btn-check:checked + .btn-outline-secondary,
.btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active,
.btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
    background-color: var(--scheme-second);
    border-color: var(--scheme-second);
}
.btn-secondary:hover {
    background-color: rgba( var(--scheme-second-rgb), .8);
}
.btn-outline-secondary {
    color: var(--scheme-second);
    border-color: var(--scheme-second);
}
.btn-outline-secondary:disabled, .btn-outline-secondary.disabled,
.link-secondary {
    color: var(--scheme-second);
}
.border-secondary {
    border-color: var(--scheme-second) !important;
}
.text-primary {
    --bs-bg-opacity: 1;
    color: rgba(var(--scheme-first), var(--bs-text-opacity)) !important;
}
.text-secondary {
    --bs-bg-opacity: 1;
    color: rgba(var(--scheme-second-rgb), var(--bs-text-opacity)) !important;
}
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--scheme-first-rgb), var(--bs-bg-opacity)) !important;
}
.bg-secondary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--scheme-second-rgb), var(--bs-bg-opacity)) !important;
}

@media only screen and (max-width: 1000px) {
    .footerNavbar > li > a {
        font-size: 1.7vw;
    }
}
@media only screen and (max-width: 700px) {
    .footerNavbar > li > a {
        font-size: 1.9vw;
    }
}