<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>YYDISH Photos: Book Appointment</title>
        <link href="https://cdn.jsdelivr.net/npm/rome@3.0.0/dist/rome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="../css/bootstrap.css"/>
        <link rel="stylesheet" href="../css/template.css"/>
        <link rel="stylesheet" href="../css/book_appointment.css"/>
    </head>

    <body class="d-flex flex-column min-vh-100">
        <div id="header"><template-header></template-header></div>

        <!-- Inputs Collected by submitted.js using Vue -->
        <main id="vueForm">
            <div v-show="!submitted">
                <h1>Thank You for Considering Us!</h1>
                <h3>Please fill out the form below, and we will get back to you.</h3>
                <br/><br/>
                <form @submit.prevent="confirmation()">
                    <!-- First Name -->
                    <div class="form-group row">
                        <div class="col-3">
                            <label for="firstName" class="text-center">First Name</label>
                        </div>
                        <div class="col-6">
                            <input type="text"
                                   class="form-control"
                                   id="firstName"
                                   placeholder="First Name"
                                   v-model="fields.firstName"
                                   required>
                        </div>
                    </div>
                    <br/>
                    <!-- Last Name -->
                    <div class="form-group row">
                        <div class="col-3">
                            <label for="lastName">Last Name</label>
                        </div>
                        <div class="col-6">
                            <input type="text"
                                   class="form-control"
                                   id="lastName"
                                   placeholder="Last name"
                                   v-model="fields.lastName"
                                   required>
                        </div>
                    </div>
                    <br/>
                    <!-- Email Address -->
                    <div class="form-group row">
                        <div class="col-3">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-6">
                            <input type="email"
                                   class="form-control"
                                   id="email" placeholder="Email"
                                   v-model="fields.email"
                                   required>
                        </div>
                    </div>
                    <br/>
                    <!-- Estimate -->
                    <div class="form-group row">
                        <div class="col-3">
                            <label for="hours">Hours</label>
                        </div>
                        <div class="col-3">
                            <input type="number"
                                   class="form-control"
                                   id="hours"
                                   value="1"
                                   step=".5"
                                   min="1"
                                   v-model.number="fields.hours">
                        </div>
                        <div class="col-3">
                            <input type="text"
                                   class="form-control"
                                   id="price"
                                   value="$149*"
                                   disabled>
                        </div>
                    </div>
                    <br/>
                    <!-- Date Picker -->
                    <div class="form-group row">
                        <div class="col-3">
                            <label for="date-picker">Date</label>
                        </div>
                        <div id="date" class="col-3">
                            <input class="form-control" id="date-picker"/>
                        </div>
                    </div>
                    <br/>
                    <!-- Street Address -->
                    <div class="form-group row">
                        <div class="col-3">
                            <label for="inputAddress">Address</label>
                        </div>
                        <div class="col-6">
                            <input type="text"
                                   class="form-control"
                                   id="inputAddress"
                                   placeholder="1234 Main St"
                                   v-model="fields.address">
                        </div>
                    </div>
                    <br/>
                    <!-- City -->
                    <div class="form-group row">
                        <div class="col-3">
                            <label for="city">City</label>
                        </div>
                        <div class="col-3">
                            <input type="text"
                                   class="form-control"
                                   id="city"
                                   placeholder="City"
                                   v-model="fields.city">
                        </div>
                    </div>
                    <br/>
                    <!-- State -->
                    <div class="form-group row">
                        <div class="col-3">
                            <label for="state">State</label>
                        </div>
                        <div class="col-3">
                            <select id="state" class="form-control">
                                <option disabled selected hidden>Choose a State</option>
                                <option v-for="state in states">{{ state }}</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <!-- Zip -->
                    <div class="form-group row">
                        <div class="col-3">
                            <label for="zipCode">Zip</label>
                        </div>
                        <div class="col-3">
                            <input type="text"
                                   class="form-control"
                                   id="zipCode"
                                   placeholder="Zip Code"
                                   v-model="fields.zipCode">
                        </div>
                    </div>
                    <br/>
                    <!-- Comments -->
                    <div class="form-group row">
                        <div class="col-3">
                            <label for="comments">Comments</label>
                        </div>
                        <div class="col-6">
                            <textarea class="form-control" id="comments" rows="3" v-model="fields.comments"></textarea>
                        </div>
                    </div>
                    <br/><br/>
                    <!-- Submit & Reset Buttons -->
                    <div class="row buttons">
                        <div class="col-12">
                            <button class="btn btn-lg btn-primary" id="submit" type="submit">Submit</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-lg btn-primary" type="reset">Reset</button>
                        </div>
                    </div>
                </form>
            </div>

            <div v-show="submitted">
                <div id="confirmation-box">
                    <h1 class="text-center">Thank you for Signing Up!</h1>
                    <h4 class="text-center">Just to Confirm, This is the Information You Entered</h4>
                    <br/><br/>
                    <!-- All Fields & Data-->
                    <div class="row mb-3" v-for="(item, index) in fields">
                        <div class="label col-5">
                            <h5>{{ labels[index] }}:</h5>
                        </div>
                        <div class="field col-6 offset-1">
                            {{ item }}
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="mt-auto" id="footer"><template-footer></template-footer></div>

        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- Bootstrap -->
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="../js/bootstrap.bundle.js"></script>
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
        <!-- Rome -->
        <script src="https://cdn.jsdelivr.net/npm/rome@3.0.0/dist/rome.min.js"></script>
        <!-- Custom -->
        <script src="../js/book_appointment.js"></script>
        <script src="../js/template.js"></script>
    </body>
</html>