<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YYDISH Photos: Portfolio</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery-bundle.css">
    <link rel="stylesheet" href="../css/justifiedGallery.css">
    <link rel="stylesheet" href="../css/template.css">
    <link rel="stylesheet" href="../css/portfolio.css">
</head>
    <body class="d-flex flex-column min-vh-100">
        <div id="header"><template-header></template-header></div>

            <main id="vueGallery">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" :class="typeToShow == 'All' ? 'active' : ''" href="#" @click="filter('All')">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :class="typeToShow == 'Animal' ? 'active' : ''" href="#" @click="filter('Animal')">Animals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :class="typeToShow == 'Scenery' ? 'active' : ''" href="#" @click="filter('Scenery')">Scenery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :class="typeToShow == 'Product' ? 'active' : ''" href="#" @click="filter('Product')">Products</a>
                    </li>
                </ul>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col col-md-11">
                            <div class="gallery-container" id="animated-thumbnails-gallery">
                                <a v-for="image in pictures"
                                   :data-lg-size="image.size"
                                   class="gallery-item"
                                   :data-src="image.fullSrc"
                                   :data-sub-html="image.desc"
                                    v-if="typeToShow === image.type || typeToShow === 'All'">
                                    <img class="img-responsive"
                                         :src="image.thumbSrc"
                                         :alt="image.alt"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        <div class="mt-auto" id="footer"><template-footer></template-footer></div>

        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- LightGallery -->
        <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/lightgallery.umd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/plugins/zoom/lg-zoom.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/plugins/thumbnail/lg-thumbnail.min.js"></script>
        <script src="../js/justifiedGallery.js"></script>

        <script src="../js/bootstrap.bundle.js"></script>

        <script src="../js/portfolio.js"></script>
        <script src="../js/template.js"></script>
    </body>
</html>